@import 'variables';

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hrTag {
  border: transparent;
  border-top: 1px solid transparent;
}

.pricing-Wrapper:first-child {
  margin-top: 2rem;
}

.loading-spinner {
  width: 0.625rem;
  height: 0.625rem;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s infinite linear;
}

.serviceFormHeading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.188rem;
  text-align: center;
  letter-spacing: 0.26px;
  color: #000000;
}

.main-survey-container {
  display: flex;
  padding-top: 2rem;
  min-height: 100vh;
  background-color: $light-grey;
  align-items: center;
  justify-content: center;

  .survey-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 50rem;
  }

  .sectionHeading {
    text-align: start;

    top: calc(50% - 1.875rem / 2 - 83px);
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875;
    letter-spacing: 0.26px;
    color: #000000;
  }
  .product-addImageDesc {
    top: 80.95%;
    bottom: 0%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 1.25rem;
    letter-spacing: 0.26px;
    color: #555555;
  }

  .product-form {
    width: 100%;
    .product-Wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      column-gap: 1.5rem;
      .productName-Wrapper {
        display: contents;
        .productName-label {
          text-align: start;
          margin-bottom: 0.4rem;
          top: calc(50% - 1.25rem / 2 - 28px);
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 0.813rem;
          line-height: 1.25rem;
          letter-spacing: 0.26px;
          color: #555555;
        }
        .input-1 {
          margin-bottom: 0.625rem;
          padding: 0.625rem 1.25rem 0.625rem 0.625rem;
          height: 45%;
          border-radius: 0.313rem;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
      }
      .productImage-Wrapper {
        text-align: start;
        display: contents;
        .input-1 {
          margin-bottom: 0.625rem;
          padding: 0.625rem 1.25rem 0.625rem 0.625rem;
          height: 25%;
          border-radius: 0.313rem;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
        .productImage-label {
          text-align: start;
          margin-bottom: 0.5rem;
          margin-top: 1rem;
          font-weight: 600;
          color: #505050;
        }
        .product-addImage {
          background-color: #eeeeee;
          border-radius: 0.2rem;
          width: 2.6rem;
          height: 2.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 0.5rem;

          .product-addIcon {
            color: #1782e6;
          }
        }

        .product-addImageStack {
          background-color: #e3eaf9;
          border-radius: 0.2rem;
          width: 2.6rem;
          height: 2.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 0.5rem;
        }
        .product-addImageWrapper {
          color: $grey;
          margin-top: -0.5rem;
          font-size: 0.8rem;
          font-weight: 500;
        }
        .imageMainDiv {
          display: flex;
          .imageButtons {
            margin-left: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            width: 30%;
            .editImage {
              color: #1782e6;
            }
            .removeImage {
              color: #e61717;
            }
          }
        }
      }
    }

    .product-pricingDesc {
      left: 3.75%;
      right: 3.75%;
      top: 40.43%;
      bottom: 56.46%;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 0.938rem;
      line-height: 1.875rem;
      text-align: start;
      letter-spacing: 0.26px;
      color: #555555;
    }
  }

  .formButtons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    .cancelButton {
      width: 15%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: transparent;
      padding: 1rem;
      border: 1px solid #f0f0f0;
      border-radius: 4px;
      font-weight: 700;
      margin-right: 1rem;
    }
    .createButton {
      width: 15%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(245, 245, 245);
      padding: 0.4rem;
      border: 1px solid #f0f0f0;
      margin-left: 1rem;
      border-radius: 4px;
      font-weight: 700;
      color: rgb(150, 150, 150);
    }
  }

  @media screen and (max-width: 1070px) {
    .breadcrumb {
      float: left !important;
      width: 90% !important;
    }
  }

  @media screen and (max-width: 796px) {
    .answer-wrapper {
      float: left !important;
      width: 100% !important;
    }

    .alert-box {
      float: center !important;
      width: 95% !important;
    }

    .survey-actions {
      float: left !important;
      width: 90% !important;
    }

    .drop-down-select {
      float: left !important;
      width: 102% !important;
    }

    .drop-down-options {
      float: left !important;
      width: 88% !important;
      margin-top: 45px !important;
    }
  }

  @media screen and (max-width: 450px) {
    .survey-container {
      display: inline-block !important;
    }

    .breadcrumb {
      float: left !important;
      width: 90% !important;
    }

    .answer-wrapper {
      float: left !important;
      width: 90% !important;
    }

    .alert-box {
      float: left !important;
      width: 100% !important;
    }

    .survey-actions {
      float: left !important;
      width: 90% !important;
    }

    .drop-down-select {
      float: left !important;
      width: 98% !important;
    }

    .drop-down-options {
      float: left !important;
      width: 88% !important;
      width: 76.5% !important;
      margin-top: 45px !important;
    }

    .cancel-survey {
      .answer-wrapper {
        .label {
          font-size: 0.7rem;
        }
      }
    }
  }
}
