@import 'variables';

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-180 {
  transform: rotate(180deg);
}
.mohsin {
  display: flex;
  flex-direction: column;
}

.test {
  text-align: start;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: 600;
  color: #505050;
}
// .iconDivBg {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 25px;
//   height: 25px;
//   margin: auto;
//   position: relative;
//   background-color: #2a70f1;
// }
.iconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: auto;
  position: relative;

  .optionsList {
    position: absolute;
    width: max-content;
    height: auto;
    top: 1.6rem;
    left: -8.8rem;
    background: white;
    padding: 0.5rem 3rem 1rem 1rem;
    box-shadow: 0 -4px 7px 0 rgba(0, 0, 0, 0.11),
      0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
    border: 1px solid lightgray;
    .duplicatePlanTypo {
      font-size: small;
      font-weight: 600;
      color: black;
    }
    .deletePlanTypo {
      font-size: small;
      font-weight: 600;
      color: red;
    }
  }
}
.iconDiv2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconDiv:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afafaf;
  border-radius: 100%;
}
.main-survey-container {
  .productBillEvery {
    display: flex;
    justify-content: space-between;
    .surveyCard__productSelect {
      margin-bottom: 10px;
      padding: 10px 20px 10px 10px;
      width: 42%;
      border-radius: 5px;
      background: transparent;
      border: 1px solid rgb(240, 240, 240);
    }
    .input-2 {
      margin-bottom: 10px;
      padding: 10px 20px 10px 10px;

      border-radius: 5px;
      background: transparent;
      border: 1px solid #f0f0f0;
    }
  }

  .plan__btn-group {
    width: fit-content;
    margin-bottom: 10px;
    display: flex;
    border: 1px solid rgb(240, 240, 240);
    flex-wrap: wrap;
    border-radius: 4px;
    .plan__selected-menu {
      background-color: #d3e2ff;
      color: #2a70f1;
      font-size: small;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      font-weight: 700;
    }

    .plan__abc {
      font-size: small;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      color: $grey;
    }
  }
  .product-form {
    width: 100%;
    .product-Wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      column-gap: 2rem;
      .productName-Wrapper {
        .input-1 {
          margin-bottom: 10px;
          padding: 10px 20px 10px 10px;
          height: 45%;
          border-radius: 5px;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
      }
      .productImage-Wrapper {
        .input-1 {
          margin-bottom: 10px;
          padding: 10px 20px 10px 10px;
          height: 25%;
          border-radius: 5px;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
      }
    }
    .pricing-Wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      column-gap: 2rem;
      .pricing-Wrapper {
        text-align: start;
        display: contents;
        .input-1 {
          margin-bottom: 10px;
          padding: 10px 20px 10px 10px;
          height: auto;
          border-radius: 5px;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
        .pricing-label {
          text-align: start;
          margin-bottom: 0.5rem;
          margin-top: 1rem;
          font-weight: 600;
          color: #505050;
        }
        .pricing-label2 {
          text-align: start;
          margin-bottom: 0.5rem;
          margin-top: 1rem;
          font-weight: 600;
          color: #505050;
          display: flex;
          justify-content: space-between;
          .pricingLabel-options {
            width: 30%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
    .priceAndBill-Wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      column-gap: 2rem;

      .priceAndBill-Wrapper {
        text-align: start;
        display: contents;
        .input-1 {
          margin-bottom: 10px;
          padding: 10px 20px 10px 10px;
          height: auto;
          border-radius: 5px;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
        .priceAndBill-label {
          text-align: start;
          margin-bottom: 0.5rem;
          margin-top: 1rem;
          font-weight: 600;
          color: #505050;
        }
      }
    }
    .priceAndBill-WrapperOneTime {
      display: grid;
      grid-template-columns: 1fr;
      width: 47.9%;
      column-gap: 2rem;
      height: auto;

      .priceAndBill-Wrapper {
        text-align: start;
        display: contents;
        .input-1 {
          margin-bottom: 10px;
          padding: 10px 20px 10px 10px;
          height: auto;
          border-radius: 5px;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
      }
    }

    .selectedPlan-Wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
      width: 100%;
      column-gap: 2rem;

      .selectedPlan-Wrapper {
        text-align: start;
        display: contents;

        .selectedPlan-label {
          text-align: start;
          margin-bottom: 0.5rem;
          margin-top: 1rem;
          font-weight: 600;
          color: #505050;
        }
      }
    }

    .billingCycles-Wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      column-gap: 2rem;
      .billingCycles-Wrapper {
        text-align: start;
        display: contents;
        display: flex;
        flex-direction: column;
        .input-1 {
          margin-bottom: 10px;
          padding: 10px 20px 10px 10px;
          height: auto;
          border-radius: 5px;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
        .billingCycles-label {
          text-align: start;
          margin-bottom: 0.5rem;
          margin-top: 1rem;
          font-weight: 600;
          color: #505050;
        }
      }
    }

    .product-pricingDesc {
      color: $grey;
      margin-top: -0.5rem;
      font-size: 0.9rem;
      font-weight: 400;
      text-align: start;
    }
  }

  .addPlan-Wrapper {
    width: 50%;
    display: flex;
    margin-top: 10px;

    .addPlanButton {
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: transparent;
      padding: 1rem;
      border: 1px solid #f0f0f0;
      border-radius: 4px;
      font-weight: 700;
    }
  }

  @media screen and (max-width: 1070px) {
    .breadcrumb {
      float: left !important;
      width: 90% !important;
    }
  }

  @media screen and (max-width: 796px) {
    .answer-wrapper {
      float: left !important;
      width: 100% !important;
    }

    .alert-box {
      float: center !important;
      width: 95% !important;
    }

    .survey-actions {
      float: left !important;
      width: 90% !important;
    }

    .drop-down-select {
      float: left !important;
      width: 102% !important;
    }

    .drop-down-options {
      float: left !important;
      width: 88% !important;
      margin-top: 45px !important;
    }
  }

  @media screen and (max-width: 450px) {
    .survey-container {
      display: inline-block !important;
    }

    .breadcrumb {
      float: left !important;
      width: 90% !important;
    }

    .answer-wrapper {
      float: left !important;
      width: 90% !important;
    }

    .alert-box {
      float: left !important;
      width: 100% !important;
    }

    .survey-actions {
      float: left !important;
      width: 90% !important;
    }

    .drop-down-select {
      float: left !important;
      width: 98% !important;
    }

    .drop-down-options {
      float: left !important;
      width: 88% !important;
      width: 76.5% !important;
      margin-top: 45px !important;
    }

    .cancel-survey {
      .answer-wrapper {
        .label {
          font-size: 0.7rem;
        }
      }
    }
  }
}
