@import 'variables';

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-180 {
  transform: rotate(180deg);
}
.priceAndBill-Wrap {
  display: flex;
  flex-direction: column;
}

.test {
  text-align: start;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: 600;
  color: #505050;
}

.iconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.563rem;
  height: 1.563rem;
  margin: auto;
  position: relative;

  .optionsList {
    position: absolute;
    width: max-content;
    height: auto;
    top: 1.6rem;
    left: -8.8rem;
    background: white;
    padding: 0.5rem 3rem 1rem 1rem;
    box-shadow: 0 -4px 7px 0 rgba(0, 0, 0, 0.11),
      0 6px 1.25rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
    border: 1px solid lightgray;
    .duplicatePlanTypo {
      font-size: small;
      font-weight: 600;
      color: black;
    }
    .deletePlanTypo {
      font-size: small;
      font-weight: 600;
      color: red;
    }
  }
}
.billingDesc {
  margin-top: -0.5rem;
  text-align: start;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 1.875rem;
  letter-spacing: 0.26px;
  color: #555555;
}
.iconDiv2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconDiv:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #afafaf;
  border-radius: 100%;
}
.main-survey-container {
  .productBillEvery {
    display: flex;
    justify-content: space-between;
    .surveyCard__productSelect {
      margin-bottom: 0.625rem;
      padding: 0.625rem 1.25rem 0.625rem 0.625rem;
      width: 45%;
      border-radius: 5px;
      background: transparent;
      border: 1px solid rgb(240, 240, 240);
    }
    .input-2 {
      margin-bottom: 0.625rem;
      padding: 0.625rem 1.25rem 0.625rem 0.625rem;
      width: 38%;
      border-radius: 5px;
      background: transparent;
      border: 1px solid #f0f0f0;
    }
  }

  .plan__btn-group {
    width: 65%;
    margin-bottom: 0.625rem;
    display: flex;
    border: 1px solid #ededed;
    border-radius: 4px;
    .plan__selected-menu {
      background-color: #d4e2ff;
      font-size: small;
      flex: 50%;
      text-align: center;
      padding: 0.75rem;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 0.938rem;
      width: 50%;
      letter-spacing: 0.26px;
      color: #286ef1;
    }

    .plan__abc {
      font-size: small;
      width: 50%;
      flex: 50%;
      padding: 0.75rem;
      text-align: center;
      color: $grey;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 0.938rem;
      letter-spacing: 0.26px;
      color: #777777;
    }
  }
  .product-form {
    width: 100%;
    .product-Wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      column-gap: 1.3rem;
      .productName-Wrapper {
        .input-1 {
          margin-bottom: 0.625rem;
          padding: 0.625rem 1.25rem 0.625rem 0.625rem;
          height: 45%;
          border-radius: 5px;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
      }
      .productImage-Wrapper {
        .input-1 {
          margin-bottom: 0.625rem;
          padding: 0.625rem 1.25rem 0.625rem 0.625rem;
          height: 25%;
          border-radius: 5px;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
      }
    }
    .pricing-Wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      column-gap: 1.3rem;
      .pricing-Wrapper {
        text-align: start;
        display: contents;
        .input-1 {
          margin-bottom: 0.625rem;
          padding: 0.625rem 1.25rem 0.625rem 0.625rem;
          height: auto;
          border-radius: 5px;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
        .pricing-label {
          text-align: start;
          text-align: start;
          margin-bottom: 0.4rem;
          top: calc(50% - 1.25rem / 2 - 28px);
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 0.813rem;
          line-height: 1.25rem;
          letter-spacing: 0.26px;
          color: #555555;
        }
        .pricing-label2 {
          text-align: start;
          margin-bottom: 0.4rem;
          top: calc(50% - 1.25rem / 2 - 28px);
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 0.813rem;
          line-height: 1.25rem;
          letter-spacing: 0.26px;
          color: #555555;
          .pricingLabel-options {
            width: 30%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
    .priceAndBill-Wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      column-gap: 1.3rem;

      .priceAndBill-Wrapper {
        text-align: start;
        display: contents;
        .input-1 {
          margin-bottom: 0.625rem;
          padding: 0.625rem 1.25rem 0.625rem 0.625rem;
          height: auto;
          border-radius: 5px;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
        .priceAndBill-label {
          text-align: start;
          margin-bottom: 0.5rem;
          margin-top: 1rem;
          top: calc(50% - 1.25rem / 2 - 42.5px);
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 0.813rem;
          line-height: 1.25rem;
          letter-spacing: 0.26px;
          color: #555555;
        }
      }
    }
    .priceAndBill-WrapperOneTime {
      display: grid;
      grid-template-columns: 1fr;
      width: 47.9%;
      column-gap: 1.3rem;
      height: auto;

      .priceAndBill-Wrapper {
        text-align: start;
        display: contents;
        .input-1 {
          margin-bottom: 0.625rem;
          padding: 0.625rem 1.25rem 0.625rem 0.625rem;
          height: auto;
          border-radius: 5px;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
      }
    }

    .selectedPlan-Wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 0.7fr 0fr;
      width: 100%;
      column-gap: 1.3rem;

      .selectedPlan-Wrapper {
        text-align: start;
        display: contents;

        .selectedPlan-label {
          text-align: start;
          margin-bottom: 0.5rem;
          margin-top: 1rem;
          font-weight: 600;
          color: #505050;
        }
      }
    }

    .billingCycles-Wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      column-gap: 1.3rem;
      .billingCycles-Wrapper {
        text-align: start;
        display: contents;
        display: flex;
        flex-direction: column;
        .input-1 {
          margin-bottom: 0.625rem;
          padding: 0.625rem 1.25rem 0.625rem 0.625rem;
          height: auto;
          border-radius: 5px;
          background: transparent;
          border: 1px solid #f0f0f0;
        }
        .billingCycles-label {
          text-align: start;
          margin-bottom: 0.5rem;
          margin-top: 1rem;
          top: calc(50% - 1.25rem / 2 - 42.5px);
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 0.813rem;
          line-height: 1.25rem;

          letter-spacing: 0.26px;

          color: #555555;
        }
      }
    }
  }

  .addPlan-Wrapper {
    width: 50%;
    display: flex;
    margin-top: 14px;
    margin-bottom: 1.563rem;

    top: calc(50% - 1.25rem / 2);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 0.813rem;
    line-height: 1.25rem;
    text-align: center;
    letter-spacing: 0.26px;
    color: #000000;

    .addPlanButton {
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: transparent;
      padding: 0.7rem 1rem;
      border: 1px solid #f0f0f0;
      border-radius: 4px;
      font-weight: 700;
    }
  }

  @media screen and (max-width: 1070px) {
    .breadcrumb {
      float: left !important;
      width: 90% !important;
    }
  }

  @media screen and (max-width: 796px) {
    .answer-wrapper {
      float: left !important;
      width: 100% !important;
    }

    .alert-box {
      float: center !important;
      width: 95% !important;
    }

    .survey-actions {
      float: left !important;
      width: 90% !important;
    }

    .drop-down-select {
      float: left !important;
      width: 102% !important;
    }

    .drop-down-options {
      float: left !important;
      width: 88% !important;
      margin-top: 45px !important;
    }
  }

  @media screen and (max-width: 450px) {
    .survey-container {
      display: inline-block !important;
    }

    .breadcrumb {
      float: left !important;
      width: 90% !important;
    }

    .answer-wrapper {
      float: left !important;
      width: 90% !important;
    }

    .alert-box {
      float: left !important;
      width: 100% !important;
    }

    .survey-actions {
      float: left !important;
      width: 90% !important;
    }

    .drop-down-select {
      float: left !important;
      width: 98% !important;
    }

    .drop-down-options {
      float: left !important;
      width: 88% !important;
      width: 76.5% !important;
      margin-top: 45px !important;
    }

    .cancel-survey {
      .answer-wrapper {
        .label {
          font-size: 0.7rem;
        }
      }
    }
  }
}
